<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"${user.getUsername()}"</title>
</head>
<body>
<p th:text="${user.getUsername()}">VALUE</p>
<br>
<p th:text="'Name: '+  ${user.getName() + ', ' + user.getAge()}">VALUE</p>
<br>
<p th:text="'Id: ' + ${user.getId()}"></p>
<br>
<a th:href="@{/admin/user/{id}/edit(id=${user.getId()})}">Edit</a>
<a th:href="@{/admin/user/{id}/delete(id=${user.getId()})}">delete</a>
<a th:href="@{/admin/users}">users</a>
<a th:href="@{/logout}">exit</a>

</body>
</html>